# Data Analytics II: Project Part A

Group Number 62\
Anton Börås\
Karl Marten Kristenprun\
Bo Strömberg\
Birger von Schenck\
2025-02-02

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# ...add packages here

## A.1 – Exploratory Data Analysis (EDA)

In [22]:
# A.1.1
# Your code here
df = pd.read_excel('SegmentData62.xlsx')
df

     age  gender  income  kids ownHome subscribe     Segment
0     42  Female   47681     0   ownNo     subNo  Suburb mix
1     37    Male   80189     2   ownNo     subNo  Suburb mix
2     43  Female   38951     1  ownYes     subNo  Suburb mix
3     35  Female   61085     0  ownYes     subNo  Suburb mix
4     42    Male   64031     3   ownNo     subNo  Suburb mix
..   ...     ...     ...   ...     ...       ...         ...
295   33  Female   57648     1   ownNo     subNo   Moving up
296   38    Male   58513     3  ownYes     subNo   Moving up
297   33  Female   44837     0   ownNo     subNo   Moving up
298   34  Female   58099     1   ownNo     subNo   Moving up
299   41    Male   55979     1  ownYes     subNo   Moving up

[300 rows x 7 columns]

Your comments here

In [23]:
# A.1.2
# Your code here

Do the variables *income* and *age* appear to be (approximately) normally distributed?

Your comments here

Can you think of a suitable distribution for the variable children?

Your comments here

In [24]:
# A.1.3
# Your code here

Your comments here

## A.2 – Confidence Intervals

In [25]:
# A.2.1
# Your code here

Your comments here

In [26]:
# A.2.2
# Your code here

Your comments here

In [27]:
# A.2.3
# Your code here

Your comments here

In [28]:
# A.2.4
# Your code here

Your comments here

## A.3 – Confidence Intervals and the Sample Size

In [29]:
# A.3.1
# Your code here

Your comments here

In [30]:
# A.3.2
# Your code here

Your comments here

How should the confidence level be adjusted as the size of the sample increases? Why?

Your comments here